body{
    background-image:url("background1.jpg");
    /* https://au.pinterest.com/pin/137148751151540015/ */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.button-container {
            background-color: transparent; /* 确保容器透明 */
            padding: 20px;
            border-radius: 10px;
        }

        /* 图标样式 */
        .button-container img {
            display: block;
            width: 100px;  /* 根据需要调整大小 */
            height: 100px;
        }

div {
  display: flex;
  justify-content: center;
}